<div class="product-card">
  <!-- <img [src]="product.image" alt="" class="product-img" /> -->
  <app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
  <div class="product-info">
    <div>
      <p>{{ product.price | currency:'COP' }}</p>
      <p>{{ product.title }}</p>
    </div>
    <button (click)="onShowDetail()">Show detail</button>
    <figure (click)="onAddToCart()">
      <img src="../../../assets/icons/bt_add_to_cart.svg" alt="" />
    </figure>
  </div>
</div>

